.primary-button {
  background-color: #020e2d;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}
.primary-button:hover {
  background: #f66f23;
  color: #f8f9fa;
}
