.hero-carousel-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slide-item {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.slide-image {
  width: 100%;
}

/* hero -carousel CSS */
.hero-carousel-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
}

.slick-dots {
  bottom: 0px;
}

.slick-dots li button:before {
  color: rgb(12, 4, 79) !important;
  font-size: 15px !important;
}

/* trending slider wrapper CSS */
.trending-slider-wrapper .slider-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.trending-slider-wrapper .slide-item {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.5;
  transform: scale(0.85);
  padding: 10px;
  box-sizing: border-box;
}

.trending-slider-wrapper .slick-center .slide-item {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.trending-slider-wrapper .slick-slide {
  padding: 10px;
}

.trending-slider-wrapper .slick-prev:before,
.trending-slider-wrapper .slick-next:before {
  color: #000;
  font-size: 50px;
  opacity: 1;
}
